.version.digital_art /* version checker */
{
	color: #0000F9;
	background-color: #36B8CD;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	background-image: none;
	background-color: transparent;
	min-height: 613px;
	border-width: 0px;
	z-index: 1;
	width: 100%;
	border-color: #000000;
	margin-left: auto;
	margin-right: auto;
}

#pu157
{
	width: 100%;
	margin-right: -10000px;
}

#u157,#u157-bw
{
	z-index: 2;
}

#u227_align_to_page
{
	margin-left: auto;
	position: relative;
	margin-right: auto;
}

#u227,#u227-bw
{
	z-index: 3;
}

#u309,#u309-bw
{
	z-index: 4;
}

#slideshowu27089
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u27102
{
	position: absolute;
	-pie-background: rgba(68,68,68,0.9);
}

#u27107,#u39241,#u39216,#u27103,#u47650,#u48382,#u49524
{
	top: 22px;
	left: 22px;
	background-color: transparent;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u27114
{
	position: absolute;
}

#u27115
{
	background-color: transparent;
	margin-top: 1px;
	margin-right: -10000px;
	border-color: #6B6B6B;
	position: relative;
}

#u39247,#u39222,#u27119,#u47656,#u48388,#u49530
{
	background-color: transparent;
	margin-right: -10000px;
	border-color: #6B6B6B;
	position: relative;
}

#u27092
{
	width: 349px;
	background-color: transparent;
	position: absolute;
}

#u27097-4,#u39253-4,#u39228-4,#u27095-4,#u47662-4,#u48394-4,#u49536-4
{
	border-color: transparent;
	position: relative;
	line-height: 20px;
	color: #999999;
	background-color: #FFFFFF;
	min-height: 20px;
	border-width: 0px;
	text-align: left;
	width: 329px;
	padding: 10px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
}

#u27099-4
{
	border-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	line-height: 20px;
	background-color: #FFFFFF;
	min-height: 20px;
	border-width: 0px;
	text-align: center;
	width: 48px;
	padding: 10px;
	position: absolute;
}

#u27113-4
{
	border-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	line-height: 20px;
	background-color: #FFFFFF;
	min-height: 20px;
	border-width: 0px;
	text-align: center;
	width: 10px;
	padding: 10px;
	position: absolute;
}

#u27099,#u27113
{
	color: #999999;
}

#u27090-4
{
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	line-height: 20px;
	border-color: transparent;
	background-color: #FFFFFF;
	min-height: 20px;
	border-width: 0px;
	text-align: center;
	width: 10px;
	padding: 10px;
	position: absolute;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

.html
{
	background-color: #FFFFFF;
}

#u336-4,body
{
	position: relative;
}

@media (min-width: 1201px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 1400px;
	}

	#u157,#u157-bw
	{
		height: 1401px;
	}

	#u227
	{
		min-height: 56px;
		padding-bottom: 7px;
	}

	#menuu802
	{
		z-index: 9;
		width: 1236px;
		position: relative;
		margin-right: -10000px;
		margin-top: 10px;
		left: 3.86%;
	}

	#u8107
	{
		width: 307px;
		min-height: 46px;
		position: relative;
		margin-right: -10000px;
	}

	#u8110
	{
		width: 307px;
		padding-bottom: 2px;
		position: relative;
	}

	#u8110:hover
	{
		width: 307px;
		min-height: 0px;
		margin: 0px;
	}

	#u8110:active
	{
		width: 307px;
		min-height: 0px;
		margin: 0px;
	}

	#u8403
	{
		width: 307px;
		min-height: 46px;
		position: relative;
		margin-right: -10000px;
		left: 309px;
	}

	#u8404
	{
		width: 307px;
		padding-bottom: 2px;
		position: relative;
	}

	#u8110.MuseMenuActive,#u8404:hover
	{
		width: 307px;
		min-height: 0px;
		margin: 0px;
	}

	#u8404:active
	{
		width: 307px;
		min-height: 0px;
		margin: 0px;
	}

	#u8404.MuseMenuActive
	{
		width: 307px;
		min-height: 0px;
		margin: 0px;
	}

	#u8112-4_clip,#u8407-4_clip
	{
		width: 307px;
		height: 44px;
	}

	#u53158
	{
		width: 308px;
		min-height: 46px;
		position: relative;
		margin-right: -10000px;
		left: 618px;
	}

	#u53159
	{
		width: 308px;
		padding-bottom: 2px;
		position: relative;
	}

	#u53159:hover
	{
		width: 308px;
		min-height: 0px;
		margin: 0px;
	}

	#u53159:active
	{
		width: 308px;
		min-height: 0px;
		margin: 0px;
	}

	#u8780
	{
		width: 308px;
		min-height: 46px;
		position: relative;
		margin-right: -10000px;
		left: 928px;
	}

	#u8783
	{
		width: 308px;
		padding-bottom: 2px;
		position: relative;
	}

	#u53159.MuseMenuActive,#u8783:hover
	{
		width: 308px;
		min-height: 0px;
		margin: 0px;
	}

	#u8783:active
	{
		width: 308px;
		min-height: 0px;
		margin: 0px;
	}

	#u8783.MuseMenuActive
	{
		width: 308px;
		min-height: 0px;
		margin: 0px;
	}

	#u53161-4_clip,#u8785-4_clip
	{
		width: 308px;
		height: 44px;
	}

	#u8112-4,#u8407-4,#u53161-4,#u8785-4
	{
		position: relative;
	}

	#u227-bw
	{
		min-height: 56px;
		margin-top: 232px;
	}

	#slideshowu27089
	{
		z-index: 36;
		height: 465px;
		margin-top: 336px;
		left: 3.15%;
	}

	#u27102
	{
		width: 1177px;
		height: 976px;
		background-color: #565656;
		background-color: rgba(68,68,68,0.9);
		top: -74px;
		left: 150px;
	}

	#u27102popup
	{
		z-index: 37;
	}

	#u27107
	{
		z-index: 38;
		width: 1133px;
		height: 932px;
	}

	#u27107_img
	{
		padding-left: 223px;
		padding-right: 245px;
	}

	#u39241
	{
		z-index: 40;
		width: 1133px;
		height: 932px;
	}

	#u39241_img
	{
		padding: 13px 316px 9px 167px;
	}

	#u39216
	{
		z-index: 42;
		width: 1133px;
		height: 932px;
	}

	#u39216_img
	{
		margin: -20px 303px -8px 158px;
	}

	#u27103
	{
		z-index: 44;
		width: 1133px;
		height: 932px;
	}

	#u27103_img
	{
		padding: 26px 6px 41px 7px;
	}

	#u47650
	{
		z-index: 46;
		width: 1133px;
		height: 932px;
	}

	#u47650_img
	{
		margin: -12px 284px -13px;
	}

	#u48382
	{
		z-index: 48;
		width: 1133px;
		height: 932px;
	}

	#u48382_img
	{
		padding: 11px 249px 11px 188px;
	}

	#u49524
	{
		z-index: 50;
		width: 1133px;
		height: 932px;
	}

	#u49524_img
	{
		margin: -49px 280px 5px 114px;
	}

	#u27114
	{
		width: 263px;
	}

	#u27114popup
	{
		z-index: 52;
	}

	#u27115
	{
		z-index: 53;
		width: 118px;
		height: 92px;
	}

	#u39247
	{
		z-index: 55;
		width: 118px;
		height: 92px;
		left: 145px;
	}

	#u39247_img
	{
		padding-top: 1px;
	}

	#u39222
	{
		z-index: 57;
		width: 118px;
		height: 92px;
		margin-top: 125px;
	}

	#u27119
	{
		z-index: 59;
		width: 118px;
		height: 92px;
		margin-top: 125px;
		left: 145px;
	}

	#u27119_img
	{
		margin-left: -1px;
	}

	#u47656
	{
		z-index: 61;
		width: 118px;
		height: 92px;
		margin-top: 249px;
	}

	#u48388
	{
		z-index: 63;
		width: 118px;
		height: 92px;
		margin-top: 249px;
		left: 145px;
	}

	#u49530
	{
		z-index: 65;
		width: 118px;
		height: 92px;
		margin-top: 373px;
	}

	#u27092
	{
		top: 935px;
		left: 184px;
	}

	#u27092popup
	{
		z-index: 67;
	}

	#u27097-4
	{
		z-index: 68;
	}

	#u39253-4
	{
		z-index: 72;
	}

	#u39228-4
	{
		z-index: 76;
	}

	#u27095-4
	{
		z-index: 80;
	}

	#u47662-4
	{
		z-index: 84;
	}

	#u48394-4
	{
		z-index: 88;
	}

	#u49536-4
	{
		z-index: 92;
	}

	#u27099-4
	{
		top: 935px;
		left: 596px;
	}

	#u27099-4popup
	{
		z-index: 96;
	}

	#u27113-4
	{
		top: 935px;
		left: 550px;
	}

	#u27113-4popup
	{
		z-index: 100;
	}

	#u27090-4
	{
		top: 935px;
		left: 680px;
	}

	#u27090-4popup
	{
		z-index: 104;
	}

	#u309
	{
		height: 54px;
		position: fixed;
		bottom: -4px;
	}

	#u336-4
	{
		min-height: 26px;
		left: -50%;
		margin-left: 238.4666666666667px;
		width: 100%;
		max-width: 477px;
	}

	#u336-4-wrapper
	{
		position: fixed;
		bottom: 10px;
		z-index: 5;
		left: 50%;
		margin-left: -523px;
		width: 34.08%;
		max-width: 477px;
	}

	#u57270
	{
		z-index: 34;
		width: 775px;
		position: relative;
		margin-right: -10000px;
		margin-top: -124px;
		left: 277px;
	}

}

@media (min-width: 901px) and (max-width: 1200px)
{
	#muse_css_mq
	{
		background-color: #0004b0;
	}

	#bp_1200.active
	{
		display: block;
	}

	#page
	{
		max-width: 1200px;
	}

	#pu157
	{
		margin-top: -16px;
	}

	#u157
	{
		height: 899px;
	}

	#u157-bw
	{
		margin-top: 16px;
		height: 899px;
	}

	#u227
	{
		min-height: 40px;
		padding-bottom: 5px;
	}

	#menuu802
	{
		z-index: 9;
		position: relative;
		margin-right: -10000px;
		margin-top: 12px;
		width: 108.34%;
		left: -4.59%;
	}

	#u8107
	{
		min-height: 28px;
		position: relative;
		margin-right: -10000px;
		width: 24.85%;
	}

	#u8110
	{
		padding-bottom: 9px;
		position: relative;
		width: 100%;
	}

	#u8110:hover
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u8110:active
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u8403
	{
		min-height: 28px;
		position: relative;
		margin-right: -10000px;
		width: 24.85%;
		left: 25%;
	}

	#u8404
	{
		padding-bottom: 9px;
		position: relative;
		width: 100%;
	}

	#u8110.MuseMenuActive,#u8404:hover
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u8404:active
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u53158
	{
		min-height: 28px;
		position: relative;
		margin-right: -10000px;
		width: 24.93%;
		left: 50%;
	}

	#u53159
	{
		padding-bottom: 9px;
		position: relative;
		width: 100%;
	}

	#u8404.MuseMenuActive,#u53159:hover
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u53159:active
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u8780
	{
		min-height: 28px;
		position: relative;
		margin-right: -10000px;
		width: 24.93%;
		left: 75.08%;
	}

	#u8783
	{
		padding-bottom: 9px;
		position: relative;
		width: 100%;
	}

	#u53159.MuseMenuActive,#u8783:hover
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u8783:active
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u8783.MuseMenuActive
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u8112-4_clip,#u8407-4_clip,#u53161-4_clip,#u8785-4_clip
	{
		height: 19px;
		width: 100%;
	}

	#u8112-4,#u8407-4,#u53161-4,#u8785-4
	{
		position: relative;
		width: 100%;
	}

	#u227-bw
	{
		min-height: 40px;
		margin-top: 248px;
	}

	#slideshowu27089
	{
		z-index: 36;
		height: 312px;
		margin-top: 332px;
		left: 4.92%;
	}

	#u27102
	{
		width: 926px;
		height: 779px;
		background-color: #565656;
		background-color: rgba(68,68,68,0.9);
		top: -332px;
		left: 156px;
	}

	#u27102popup
	{
		z-index: 37;
	}

	#u27107
	{
		z-index: 38;
		width: 882px;
		height: 735px;
	}

	#u27107_img
	{
		padding: 5px 191px 4px 173px;
	}

	#u39241
	{
		z-index: 40;
		width: 882px;
		height: 735px;
	}

	#u39241_img
	{
		padding: 15px 246px 11px 130px;
	}

	#u39216
	{
		z-index: 42;
		width: 882px;
		height: 735px;
	}

	#u39216_img
	{
		margin: -11px 236px -1px 123px;
	}

	#u27103
	{
		z-index: 44;
		width: 882px;
		height: 735px;
	}

	#u27103_img
	{
		margin: 18px 6px 19px -28px;
	}

	#u47650
	{
		z-index: 46;
		width: 882px;
		height: 735px;
	}

	#u47650_img
	{
		padding-left: 193px;
		padding-right: 262px;
		padding-bottom: 12px;
	}

	#u48382
	{
		z-index: 48;
		width: 882px;
		height: 735px;
	}

	#u48382_img
	{
		padding-left: 102px;
		padding-right: 219px;
		padding-bottom: 1px;
	}

	#u49524
	{
		z-index: 50;
		width: 882px;
		height: 735px;
	}

	#u49524_img
	{
		margin: -12px 212px -13px 95px;
	}

	#u27114
	{
		width: 206px;
	}

	#u27114popup
	{
		z-index: 52;
	}

	#u27115
	{
		z-index: 53;
		width: 94px;
		height: 62px;
	}

	#u39247
	{
		z-index: 55;
		width: 94px;
		height: 62px;
		left: 112px;
	}

	#u39222
	{
		z-index: 57;
		width: 94px;
		height: 62px;
		margin-top: 83px;
	}

	#u27119
	{
		z-index: 59;
		width: 94px;
		height: 62px;
		margin-top: 83px;
		left: 112px;
	}

	#u27119_img
	{
		margin-top: -5px;
		margin-bottom: -6px;
	}

	#u47656
	{
		z-index: 61;
		width: 94px;
		height: 62px;
		margin-top: 166px;
	}

	#u48388
	{
		z-index: 63;
		width: 94px;
		height: 62px;
		margin-top: 166px;
		left: 112px;
	}

	#u49530
	{
		z-index: 65;
		width: 94px;
		height: 62px;
		margin-top: 249px;
	}

	#u27092
	{
		top: 465px;
		left: 173px;
	}

	#u27092popup
	{
		z-index: 67;
	}

	#u27097-4
	{
		z-index: 68;
	}

	#u39253-4
	{
		z-index: 72;
	}

	#u39228-4
	{
		z-index: 76;
	}

	#u27095-4
	{
		z-index: 80;
	}

	#u47662-4
	{
		z-index: 84;
	}

	#u48394-4
	{
		z-index: 88;
	}

	#u49536-4
	{
		z-index: 92;
	}

	#u27099-4
	{
		top: 465px;
		left: 585px;
	}

	#u27099-4popup
	{
		z-index: 96;
	}

	#u27113-4
	{
		top: 465px;
		left: 539px;
	}

	#u27113-4popup
	{
		z-index: 100;
	}

	#u27090-4
	{
		top: 465px;
		left: 669px;
	}

	#u27090-4popup
	{
		z-index: 104;
	}

	#u309
	{
		height: 54px;
		position: fixed;
		bottom: 0px;
	}

	#u336-4
	{
		left: -50%;
		margin-left: 289.83333333333337px;
		width: 100%;
		max-width: 579px;
	}

	#u336-4-wrapper
	{
		position: fixed;
		bottom: 12px;
		z-index: 5;
		left: 50%;
		margin-left: -340px;
		width: 48.25%;
		max-width: 579px;
	}

	#u57270
	{
		z-index: 34;
		width: 444px;
		position: relative;
		margin-right: -10000px;
		margin-top: -25px;
		left: 224px;
	}

	#u8112-4_img,#u8407-4_img,#u53161-4_img,#u8785-4_img
	{
		width: 100%;
	}
}

@media (max-width: 900px)
{
	#muse_css_mq
	{
		background-color: #000384;
	}

	#bp_900.active
	{
		display: block;
	}

	#page
	{
		max-width: 900px;
	}

	#pu157
	{
		margin-top: -2px;
	}

	#u157
	{
		height: 899px;
	}

	#u157-bw
	{
		margin-top: 2px;
		height: 899px;
	}

	#u227
	{
		min-height: 28px;
		padding-bottom: 18px;
	}

	#u336-4
	{
		z-index: 5;
		margin-right: -10000px;
		margin-top: 10px;
		width: 33.78%;
		left: 8.34%;
	}

	#u227-bw
	{
		min-height: 28px;
		margin-top: 855px;
	}

	#u309
	{
		height: 48px;
	}

	#u309-bw
	{
		margin-top: 2px;
		height: 48px;
	}

	#slideshowu27089
	{
		z-index: 9;
		height: 350px;
		margin-top: 59px;
		left: 2.23%;
	}

	#u27102
	{
		width: 811px;
		height: 790px;
		background-color: #565656;
		background-color: rgba(68,68,68,0.9);
		top: -59px;
		left: 44px;
	}

	#u27102popup
	{
		z-index: 10;
	}

	#u27107
	{
		z-index: 11;
		width: 767px;
		height: 746px;
	}

	#u27107_img
	{
		padding: 58px 177px 57px 139px;
	}

	#u39241
	{
		z-index: 13;
		width: 767px;
		height: 746px;
	}

	#u39241_img
	{
		padding: 65px 183px 65px 144px;
	}

	#u39216
	{
		z-index: 15;
		width: 767px;
		height: 746px;
	}

	#u39216_img
	{
		padding: 48px 165px 48px 147px;
	}

	#u27103
	{
		z-index: 17;
		width: 767px;
		height: 746px;
	}

	#u27103_img
	{
		padding: 87px 61px 131px 23px;
	}

	#u47650
	{
		z-index: 19;
		width: 767px;
		height: 746px;
	}

	#u47650_img
	{
		padding: 10px 188px 9px 150px;
	}

	#u48382
	{
		z-index: 21;
		width: 767px;
		height: 746px;
	}

	#u48382_img
	{
		padding-left: 85px;
		padding-top: 17px;
		padding-right: 125px;
	}

	#u49524
	{
		z-index: 23;
		width: 767px;
		height: 746px;
	}

	#u49524_img
	{
		margin: -12px 112px -11px 73px;
	}

	#u27114
	{
		width: 187px;
	}

	#u27114popup
	{
		z-index: 25;
	}

	#u27115
	{
		z-index: 26;
		width: 86px;
		height: 68px;
	}

	#u39247
	{
		z-index: 28;
		width: 86px;
		height: 68px;
		left: 101px;
	}

	#u39247_img
	{
		padding-top: 2px;
	}

	#u39222
	{
		z-index: 30;
		width: 86px;
		height: 68px;
		margin-top: 91px;
	}

	#u27115_img,#u39222_img
	{
		padding-top: 1px;
	}

	#u27119
	{
		z-index: 32;
		width: 86px;
		height: 68px;
		margin-top: 91px;
		left: 101px;
	}

	#u27119_img
	{
		margin-left: -1px;
		margin-right: -1px;
	}

	#u47656
	{
		z-index: 34;
		width: 86px;
		height: 68px;
		margin-top: 186px;
	}

	#u48388
	{
		z-index: 36;
		width: 86px;
		height: 68px;
		margin-top: 186px;
		left: 101px;
	}

	#u49530
	{
		z-index: 38;
		width: 86px;
		height: 68px;
		margin-top: 282px;
	}

	#u27092
	{
		top: 738px;
		left: 24px;
	}

	#u27092popup
	{
		z-index: 40;
	}

	#u27097-4
	{
		z-index: 41;
	}

	#u39253-4
	{
		z-index: 45;
	}

	#u39228-4
	{
		z-index: 49;
	}

	#u27095-4
	{
		z-index: 53;
	}

	#u47662-4
	{
		z-index: 57;
	}

	#u48394-4
	{
		z-index: 61;
	}

	#u49536-4
	{
		z-index: 65;
	}

	#u27099-4
	{
		top: 738px;
		left: 436px;
	}

	#u27099-4popup
	{
		z-index: 69;
	}

	#u27113-4
	{
		top: 738px;
		left: 390px;
	}

	#u27113-4popup
	{
		z-index: 73;
	}

	#u27090-4
	{
		top: 738px;
		left: 520px;
	}

	#u27090-4popup
	{
		z-index: 77;
	}

	#accordionu37494
	{
		z-index: 81;
		width: 181px;
		position: relative;
		margin-right: -10000px;
		left: 597px;
	}

	#u37499
	{
		z-index: 82;
		width: 181px;
		position: relative;
	}

	#u37500-4
	{
		z-index: 83;
		width: 169px;
		min-height: 26px;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		position: relative;
	}

	#u37500-4:hover
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 26px;
		width: 169px;
		margin: 0px;
	}

	#u37500-4:active
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 26px;
		width: 169px;
		margin: 0px;
	}

	#u37500-4.AccordionPanelTabOpen
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 28px;
		width: 171px;
		margin: 0px;
	}

	#u37501
	{
		z-index: 87;
		width: 181px;
		position: relative;
	}

	#menuu22806
	{
		z-index: 88;
		width: 179px;
		position: relative;
		margin-right: -10000px;
	}

	#u23464
	{
		width: 179px;
		position: relative;
	}

	#u23467
	{
		width: 179px;
		min-height: 18px;
		padding-bottom: 35px;
		position: relative;
		margin-right: -10000px;
	}

	#u23467:hover
	{
		width: 179px;
		min-height: 18px;
		margin: 0px -10000px 0px 0px;
	}

	#u23467:active
	{
		width: 179px;
		min-height: 18px;
		margin: 0px -10000px 0px 0px;
	}

	#u23551
	{
		width: 179px;
		min-height: 18px;
		padding-bottom: 35px;
		position: relative;
		margin-right: -10000px;
	}

	#u23467.MuseMenuActive,#u23551:hover
	{
		width: 179px;
		min-height: 18px;
		margin: 0px -10000px 0px 0px;
	}

	#u23551:active
	{
		width: 179px;
		min-height: 18px;
		margin: 0px -10000px 0px 0px;
	}

	#u53089
	{
		width: 179px;
		min-height: 18px;
		padding-bottom: 35px;
		position: relative;
		margin-right: -10000px;
	}

	#u23551.MuseMenuActive,#u53089:hover
	{
		width: 179px;
		min-height: 18px;
		margin: 0px -10000px 0px 0px;
	}

	#u53089:active
	{
		width: 179px;
		min-height: 18px;
		margin: 0px -10000px 0px 0px;
	}

	#u23548,#u53086,#u23632
	{
		width: 179px;
		margin-top: 2px;
		position: relative;
	}

	#u23633
	{
		width: 179px;
		min-height: 18px;
		padding-bottom: 35px;
		position: relative;
		margin-right: -10000px;
	}

	#u53089.MuseMenuActive,#u23633:hover
	{
		width: 179px;
		min-height: 18px;
		margin: 0px -10000px 0px 0px;
	}

	#u23633:active
	{
		width: 179px;
		min-height: 18px;
		margin: 0px -10000px 0px 0px;
	}

	#u23633.MuseMenuActive
	{
		width: 179px;
		min-height: 18px;
		margin: 0px -10000px 0px 0px;
	}

	#u23470-4_clip,#u23552-4_clip,#u53092-4_clip,#u23634-4_clip
	{
		width: 179px;
		height: 18px;
	}

	#u23470-4,#u23552-4,#u53092-4,#u23634-4
	{
		position: relative;
		margin-right: -10000px;
		top: 17px;
	}

	body
	{
		min-width: 320px;
	}

}

