#u157
{
	background-color: #B3E8D8;
}

#u227,#u309
{
	background-color: #00A99D;
}

.MenuItem
{
	cursor: pointer;
}

@media (min-width: 1201px)
{
	#u227_align_to_page
	{
		max-width: 1400px;
	}

	#menuu802
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #00A99D;
	}

	#u8110
	{
		background-color: #00A99D;
	}

	#u8110:hover
	{
		background-color: #29ABE2;
	}

	#u8110:active
	{
		background-color: #003B30;
	}

	#u8404
	{
		background-color: #00A99D;
	}

	#u8404:hover
	{
		background-color: #29ABE2;
	}

	#u8404:active
	{
		background-color: #003B30;
	}

	#u53159
	{
		background-color: #00A99D;
	}

	#u53159:hover
	{
		background-color: #29ABE2;
	}

	#u53159:active
	{
		background-color: #003B30;
	}

	#u8107,#u8403,#u53158,#u8780
	{
		background-color: transparent;
	}

	#u8783
	{
		background-color: #00A99D;
	}

	#u8783:hover
	{
		background-color: #29ABE2;
	}

	#u8783:active
	{
		background-color: #003B30;
	}

	#u8110.MuseMenuActive,#u8404.MuseMenuActive,#u53159.MuseMenuActive,#u8783.MuseMenuActive
	{
		background-color: #006D46;
	}

	#u8112-4_clip,#u8407-4_clip,#u53161-4_clip,#u8785-4_clip
	{
		overflow: hidden;
		vertical-align: top;
	}

	#u8112-4_img,#u8407-4_img,#u53161-4_img,#u8785-4_img
	{
		display: block;
	}

	#u336-4
	{
		background-color: transparent;
		line-height: 26px;
		color: #2E3192;
		font-size: 22px;
		letter-spacing: 1px;
		font-family: Times, Times New Roman, Georgia, serif;
	}

	#u57270
	{
		background-color: transparent;
		-webkit-transform: matrix(0.9877,0.1564,-0.1564,0.9877,50,-57);
		-ms-transform: matrix(0.9877,0.1564,-0.1564,0.9877,50,-57);
		transform: matrix(0.9877,0.1564,-0.1564,0.9877,50,-57);
	}

}

@media (min-width: 901px) and (max-width: 1200px)
{
	#u227_align_to_page
	{
		max-width: 1200px;
	}

	#menuu802
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #00A99D;
	}

	#u8110
	{
		background-color: #00A99D;
	}

	#u8110:hover
	{
		background-color: #29ABE2;
	}

	#u8110:active
	{
		background-color: #003B30;
	}

	#u8404
	{
		background-color: #00A99D;
	}

	#u8404:hover
	{
		background-color: #29ABE2;
	}

	#u8404:active
	{
		background-color: #003B30;
	}

	#u53159
	{
		background-color: #00A99D;
	}

	#u53159:hover
	{
		background-color: #29ABE2;
	}

	#u53159:active
	{
		background-color: #003B30;
	}

	#u8107,#u8403,#u53158,#u8780
	{
		background-color: transparent;
	}

	#u8783
	{
		background-color: #00A99D;
	}

	#u8783:hover
	{
		background-color: #29ABE2;
	}

	#u8783:active
	{
		background-color: #003B30;
	}

	#u8110.MuseMenuActive,#u8404.MuseMenuActive,#u53159.MuseMenuActive,#u8783.MuseMenuActive
	{
		background-color: #006D46;
	}

	#u8112-4_clip,#u8407-4_clip,#u53161-4_clip,#u8785-4_clip
	{
		overflow: hidden;
		vertical-align: top;
	}

	#u8112-4_img,#u8407-4_img,#u53161-4_img,#u8785-4_img
	{
		display: block;
	}

	#u57270
	{
		background-color: transparent;
		-webkit-transform: matrix(0.9925,0.1219,-0.1219,0.9925,22,-26);
		-ms-transform: matrix(0.9925,0.1219,-0.1219,0.9925,22,-26);
		transform: matrix(0.9925,0.1219,-0.1219,0.9925,22,-26);
	}

	#u336-4
	{
		display: block;
		vertical-align: top;
	}
}

@media (max-width: 900px)
{
	#u336-4
	{
		display: block;
		vertical-align: top;
	}

	#u227_align_to_page,#u309_align_to_page
	{
		max-width: 900px;
	}

	#accordionu37494
	{
		border-width: 0px;
		border-color: transparent;
		background: #B3E8D8 url("../images/hamburger.png") no-repeat left top;
	}

	#u37500-4
	{
		border-style: solid;
		border-width: 1px;
		border-color: #FFFFFF;
		line-height: 26px;
		color: #FFFFFF;
		text-align: left;
		font-size: 26px;
		font-family: Times, Times New Roman, Georgia, serif;
		background: #00A99D url("../images/hamburger.png") no-repeat right top;
		background-size: contain;
	}

	#u37500-4:hover
	{
		border-style: solid;
		border-width: 1px;
		border-color: #FFFFFF;
		background: #29ABE2 url("../images/hamburger.png") no-repeat right top;
		background-size: contain;
	}

	#u37500-4:active
	{
		border-style: solid;
		border-width: 1px;
		border-color: #FFFFFF;
		background: #003B30 url("../images/hamburger.png") no-repeat right top;
		background-size: contain;
	}

	#u37500-4.AccordionPanelTabOpen
	{
		border-width: 0px;
		border-color: transparent;
		background: #006D46 url("../images/hamburger.png") no-repeat right top;
		background-size: contain;
	}

	#u37500-4.AccordionPanelTabOpen p
	{
		color: #4F4F4F;
		visibility: inherit;
		font-size: 25px;
		text-align: left;
		font-family: Times, Times New Roman, Georgia, serif;
	}

	#u37501
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #B3E8D8;
	}

	#menuu22806
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u23467
	{
		background-color: #00A99D;
	}

	#u23467:hover
	{
		background-color: #29ABE2;
	}

	#u23467:active
	{
		background-color: #003B30;
	}

	#u23551
	{
		background-color: #00A99D;
	}

	#u23551:hover
	{
		background-color: #29ABE2;
	}

	#u23551:active
	{
		background-color: #003B30;
	}

	#u53089
	{
		background-color: #00A99D;
	}

	#u53089:hover
	{
		background-color: #29ABE2;
	}

	#u53089:active
	{
		background-color: #003B30;
	}

	#u37499,#u23464,#u23548,#u53086,#u23632
	{
		background-color: transparent;
	}

	#u23633
	{
		background-color: #00A99D;
	}

	#u23633:hover
	{
		background-color: #29ABE2;
	}

	#u23633:active
	{
		background-color: #003B30;
	}

	#u23467.MuseMenuActive,#u23551.MuseMenuActive,#u53089.MuseMenuActive,#u23633.MuseMenuActive
	{
		background-color: #006D46;
	}

	#u23470-4_clip,#u23552-4_clip,#u53092-4_clip,#u23634-4_clip
	{
		overflow: hidden;
		vertical-align: top;
	}

	#u23470-4_img,#u23552-4_img,#u53092-4_img,#u23634-4_img
	{
		display: block;
	}

	.AccordionPanelTab /* accordion */
	{
		cursor: pointer;
	}

}

