	#u227_align_to_page
	{
		max-width: 1400px;
	}

	#menuu802
	{
		border-width: 0px;
		border-color: transparent;
		background-color: #00A99D;
	}

	#u8110
	{
		background-color: #00A99D;
	}

	#u8110:hover
	{
		background-color: #29ABE2;
	}

	#u8110:active
	{
		background-color: #003B30;
	}

	#u8404
	{
		background-color: #00A99D;
	}

	#u8404:hover
	{
		background-color: #29ABE2;
	}

	#u8404:active
	{
		background-color: #003B30;
	}

	#u53159
	{
		background-color: #00A99D;
	}

	#u53159:hover
	{
		background-color: #29ABE2;
	}

	#u53159:active
	{
		background-color: #003B30;
	}

	#u8107,#u8403,#u53158,#u8780
	{
		background-color: transparent;
	}

	#u8783
	{
		background-color: #00A99D;
	}

	#u8783:hover
	{
		background-color: #29ABE2;
	}

	#u8783:active
	{
		background-color: #003B30;
	}

	#u8110.MuseMenuActive,#u8404.MuseMenuActive,#u53159.MuseMenuActive,#u8783.MuseMenuActive
	{
		background-color: #006D46;
	}

	#u8112-4_clip,#u8407-4_clip,#u53161-4_clip,#u8785-4_clip
	{
		overflow: hidden;
		vertical-align: top;
	}

	#u8112-4_img,#u8407-4_img,#u53161-4_img,#u8785-4_img
	{
		display: block;
	}

	#u336-4
	{
		background-color: transparent;
		line-height: 26px;
		color: #2E3192;
		font-size: 22px;
		letter-spacing: 1px;
		font-family: Times, Times New Roman, Georgia, serif;
	}

	#u57270
	{
		background-color: transparent;
		-webkit-transform: matrix(0.9877,0.1564,-0.1564,0.9877,50,-57);
		-ms-transform: matrix(0.9877,0.1564,-0.1564,0.9877,50,-57);
		transform: matrix(0.9877,0.1564,-0.1564,0.9877,50,-57);
	}


