.version.traditional_art /* version checker */
{
	color: #0000E4;
	background-color: #227BA4;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	background-image: none;
	background-color: transparent;
	min-height: 613px;
	border-width: 0px;
	z-index: 1;
	width: 100%;
	border-color: #000000;
	margin-left: auto;
	margin-right: auto;
}

#pu157
{
	width: 100%;
	margin-right: -10000px;
}

#u157,#u157-bw
{
	z-index: 2;
}

#u227_align_to_page
{
	margin-left: auto;
	position: relative;
	margin-right: auto;
}

#u227,#u227-bw
{
	z-index: 3;
}

#u309,#u309-bw
{
	z-index: 4;
}

#slideshowu26934
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u26947
{
	position: absolute;
	-pie-background: rgba(68,68,68,0.9);
}

#u26950,#u46537,#u47525,#u48005,#u48593,#u49641
{
	top: 22px;
	left: 22px;
	background-color: transparent;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u26959
{
	position: absolute;
}

#u26966,#u46543,#u47531,#u48011,#u48599,#u49647
{
	background-color: transparent;
	margin-right: -10000px;
	border-color: #6B6B6B;
	position: relative;
}

#u26937
{
	width: 349px;
	background-color: transparent;
	position: absolute;
}

#u26941-4,#u46549-4,#u47537-4,#u48017-4,#u48605-4,#u49653-4
{
	border-color: transparent;
	position: relative;
	line-height: 20px;
	color: #999999;
	background-color: #FFFFFF;
	min-height: 20px;
	border-width: 0px;
	text-align: left;
	width: 329px;
	padding: 10px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
}

#u26944-4
{
	border-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	line-height: 20px;
	background-color: #FFFFFF;
	min-height: 20px;
	border-width: 0px;
	text-align: center;
	width: 48px;
	padding: 10px;
	position: absolute;
}

#u26958-4
{
	border-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	line-height: 20px;
	background-color: #FFFFFF;
	min-height: 20px;
	border-width: 0px;
	text-align: center;
	width: 10px;
	padding: 10px;
	position: absolute;
}

#u26944,#u26958
{
	color: #999999;
}

#u26935-4
{
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	line-height: 20px;
	border-color: transparent;
	background-color: #FFFFFF;
	min-height: 20px;
	border-width: 0px;
	text-align: center;
	width: 10px;
	padding: 10px;
	position: absolute;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton
{
	cursor: pointer;
}

.SSSlideLoading
{
	background: url("../images/loading.gif") no-repeat center center;
}

.html
{
	background-color: #FFFFFF;
}

#u336-4,body
{
	position: relative;
}

@media (min-width: 1201px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		max-width: 1400px;
	}

	#u157,#u157-bw
	{
		height: 1401px;
	}

	#u227
	{
		min-height: 56px;
		padding-bottom: 7px;
	}

	#menuu802
	{
		z-index: 9;
		width: 1236px;
		position: relative;
		margin-right: -10000px;
		margin-top: 10px;
		left: 3.86%;
	}

	#u8107
	{
		width: 307px;
		min-height: 46px;
		position: relative;
		margin-right: -10000px;
	}

	#u8110
	{
		width: 307px;
		padding-bottom: 2px;
		position: relative;
	}

	#u8110:hover
	{
		width: 307px;
		min-height: 0px;
		margin: 0px;
	}

	#u8110:active
	{
		width: 307px;
		min-height: 0px;
		margin: 0px;
	}

	#u8403
	{
		width: 307px;
		min-height: 46px;
		position: relative;
		margin-right: -10000px;
		left: 309px;
	}

	#u8404
	{
		width: 307px;
		padding-bottom: 2px;
		position: relative;
	}

	#u8110.MuseMenuActive,#u8404:hover
	{
		width: 307px;
		min-height: 0px;
		margin: 0px;
	}

	#u8404:active
	{
		width: 307px;
		min-height: 0px;
		margin: 0px;
	}

	#u8404.MuseMenuActive
	{
		width: 307px;
		min-height: 0px;
		margin: 0px;
	}

	#u8112-4_clip,#u8407-4_clip
	{
		width: 307px;
		height: 44px;
	}

	#u53158
	{
		width: 308px;
		min-height: 46px;
		position: relative;
		margin-right: -10000px;
		left: 618px;
	}

	#u53159
	{
		width: 308px;
		padding-bottom: 2px;
		position: relative;
	}

	#u53159:hover
	{
		width: 308px;
		min-height: 0px;
		margin: 0px;
	}

	#u53159:active
	{
		width: 308px;
		min-height: 0px;
		margin: 0px;
	}

	#u8780
	{
		width: 308px;
		min-height: 46px;
		position: relative;
		margin-right: -10000px;
		left: 928px;
	}

	#u8783
	{
		width: 308px;
		padding-bottom: 2px;
		position: relative;
	}

	#u53159.MuseMenuActive,#u8783:hover
	{
		width: 308px;
		min-height: 0px;
		margin: 0px;
	}

	#u8783:active
	{
		width: 308px;
		min-height: 0px;
		margin: 0px;
	}

	#u8783.MuseMenuActive
	{
		width: 308px;
		min-height: 0px;
		margin: 0px;
	}

	#u53161-4_clip,#u8785-4_clip
	{
		width: 308px;
		height: 44px;
	}

	#u8112-4,#u8407-4,#u53161-4,#u8785-4
	{
		position: relative;
	}

	#u227-bw
	{
		min-height: 56px;
		margin-top: 232px;
	}

	#slideshowu26934
	{
		z-index: 36;
		height: 323px;
		margin-top: 418px;
		left: 2%;
	}

	#u26947
	{
		width: 1177px;
		height: 976px;
		background-color: #565656;
		background-color: rgba(68,68,68,0.9);
		top: -106px;
		left: 170px;
	}

	#u26947popup
	{
		z-index: 37;
	}

	#u26950
	{
		z-index: 38;
		width: 1133px;
		height: 932px;
	}

	#u26950_img
	{
		margin: 19px 375px -6px 270px;
	}

	#u46537
	{
		z-index: 40;
		width: 1133px;
		height: 932px;
	}

	#u46537_img
	{
		margin: -22px 194px -38px 108px;
	}

	#u47525
	{
		z-index: 42;
		width: 1133px;
		height: 932px;
	}

	#u47525_img
	{
		margin-top: -53px;
		margin-right: 32px;
		margin-bottom: -129px;
	}

	#u48005
	{
		z-index: 44;
		width: 1133px;
		height: 932px;
	}

	#u48005_img
	{
		padding: 1px 383px 1px 209px;
	}

	#u48593
	{
		z-index: 46;
		width: 1133px;
		height: 932px;
	}

	#u48593_img
	{
		margin: -71px 171px -71px 172px;
	}

	#u49641
	{
		z-index: 48;
		width: 1133px;
		height: 932px;
	}

	#u49641_img
	{
		margin: -9px 275px -59px 101px;
	}

	#u26959
	{
		width: 246px;
	}

	#u26959popup
	{
		z-index: 50;
	}

	#u26966
	{
		z-index: 51;
		width: 118px;
		height: 92px;
	}

	#u46543
	{
		z-index: 53;
		width: 118px;
		height: 92px;
		left: 128px;
	}

	#u47531
	{
		z-index: 55;
		width: 118px;
		height: 92px;
		margin-top: 116px;
	}

	#u48011
	{
		z-index: 57;
		width: 118px;
		height: 92px;
		margin-top: 116px;
		left: 128px;
	}

	#u48599
	{
		z-index: 59;
		width: 118px;
		height: 92px;
		margin-top: 231px;
	}

	#u49647
	{
		z-index: 61;
		width: 118px;
		height: 92px;
		margin-top: 231px;
		left: 128px;
	}

	#u26937
	{
		top: 881px;
		left: 170px;
	}

	#u26937popup
	{
		z-index: 63;
	}

	#u26941-4
	{
		z-index: 64;
	}

	#u46549-4
	{
		z-index: 68;
	}

	#u47537-4
	{
		z-index: 72;
	}

	#u48017-4
	{
		z-index: 76;
	}

	#u48605-4
	{
		z-index: 80;
	}

	#u49653-4
	{
		z-index: 84;
	}

	#u26944-4
	{
		top: 881px;
		left: 582px;
	}

	#u26944-4popup
	{
		z-index: 88;
	}

	#u26958-4
	{
		top: 881px;
		left: 536px;
	}

	#u26958-4popup
	{
		z-index: 92;
	}

	#u26935-4
	{
		top: 881px;
		left: 666px;
	}

	#u26935-4popup
	{
		z-index: 96;
	}

	#u309
	{
		height: 54px;
		position: fixed;
		bottom: -4px;
	}

	#u336-4
	{
		min-height: 26px;
		left: -50%;
		margin-left: 238.4666666666667px;
		width: 100%;
		max-width: 477px;
	}

	#u336-4-wrapper
	{
		position: fixed;
		bottom: 10px;
		z-index: 5;
		left: 50%;
		margin-left: -523px;
		width: 34.08%;
		max-width: 477px;
	}

	#u57270
	{
		z-index: 34;
		width: 775px;
		position: relative;
		margin-right: -10000px;
		margin-top: -124px;
		left: 277px;
	}

}

@media (min-width: 901px) and (max-width: 1200px)
{
	#muse_css_mq
	{
		background-color: #0004b0;
	}

	#bp_1200.active
	{
		display: block;
	}

	#page
	{
		max-width: 1200px;
	}

	#u157,#u157-bw
	{
		height: 899px;
	}

	#u227
	{
		min-height: 40px;
		padding-bottom: 5px;
	}

	#menuu802
	{
		z-index: 9;
		position: relative;
		margin-right: -10000px;
		margin-top: 12px;
		width: 108.34%;
		left: -4.59%;
	}

	#u8107
	{
		min-height: 28px;
		position: relative;
		margin-right: -10000px;
		width: 24.85%;
	}

	#u8110
	{
		padding-bottom: 9px;
		position: relative;
		width: 100%;
	}

	#u8110:hover
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u8110:active
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u8403
	{
		min-height: 28px;
		position: relative;
		margin-right: -10000px;
		width: 24.85%;
		left: 25%;
	}

	#u8404
	{
		padding-bottom: 9px;
		position: relative;
		width: 100%;
	}

	#u8110.MuseMenuActive,#u8404:hover
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u8404:active
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u53158
	{
		min-height: 28px;
		position: relative;
		margin-right: -10000px;
		width: 24.93%;
		left: 50%;
	}

	#u53159
	{
		padding-bottom: 9px;
		position: relative;
		width: 100%;
	}

	#u8404.MuseMenuActive,#u53159:hover
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u53159:active
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u8780
	{
		min-height: 28px;
		position: relative;
		margin-right: -10000px;
		width: 24.93%;
		left: 75.08%;
	}

	#u8783
	{
		padding-bottom: 9px;
		position: relative;
		width: 100%;
	}

	#u53159.MuseMenuActive,#u8783:hover
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u8783:active
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u8783.MuseMenuActive
	{
		min-height: 0px;
		width: 100%;
		margin: 0px 0px 0px 0%;
	}

	#u8112-4_clip,#u8407-4_clip,#u53161-4_clip,#u8785-4_clip
	{
		height: 19px;
		width: 100%;
	}

	#u8112-4,#u8407-4,#u53161-4,#u8785-4
	{
		position: relative;
		width: 100%;
	}

	#u227-bw
	{
		min-height: 40px;
		margin-top: 232px;
	}

	#slideshowu26934
	{
		z-index: 36;
		height: 323px;
		margin-top: 337px;
		left: 4.92%;
	}

	#u26947
	{
		width: 968px;
		height: 757px;
		background-color: #565656;
		background-color: rgba(68,68,68,0.9);
		top: -317px;
		left: 114px;
	}

	#u26947popup
	{
		z-index: 37;
	}

	#u26950
	{
		z-index: 38;
		width: 924px;
		height: 713px;
	}

	#u26950_img
	{
		margin: -24px 298px -43px 212px;
	}

	#u46537
	{
		z-index: 40;
		width: 924px;
		height: 713px;
	}

	#u46537_img
	{
		margin: -3px 186px -2px 137px;
	}

	#u47525
	{
		z-index: 42;
		width: 924px;
		height: 713px;
	}

	#u47525_img
	{
		margin-top: -38px;
		margin-right: 88px;
		margin-bottom: -95px;
	}

	#u48005
	{
		z-index: 44;
		width: 924px;
		height: 713px;
	}

	#u48005_img
	{
		margin: -22px 313px -23px 170px;
	}

	#u48593
	{
		z-index: 46;
		width: 924px;
		height: 713px;
	}

	#u48593_img
	{
		padding: 28px 245px 28px 196px;
	}

	#u49641
	{
		z-index: 48;
		width: 924px;
		height: 713px;
	}

	#u49641_img
	{
		padding: 4px 220px 5px 171px;
	}

	#u26959
	{
		width: 228px;
	}

	#u26959popup
	{
		z-index: 50;
	}

	#u26966
	{
		z-index: 51;
		width: 100px;
		height: 92px;
	}

	#u46543
	{
		z-index: 53;
		width: 100px;
		height: 92px;
		left: 128px;
	}

	#u47531
	{
		z-index: 55;
		width: 100px;
		height: 92px;
		margin-top: 116px;
	}

	#u47531_img
	{
		margin-top: -5px;
		margin-bottom: -4px;
	}

	#u48011
	{
		z-index: 57;
		width: 100px;
		height: 92px;
		margin-top: 116px;
		left: 128px;
	}

	#u48599
	{
		z-index: 59;
		width: 100px;
		height: 92px;
		margin-top: 231px;
	}

	#u48599_img
	{
		padding-top: 1px;
	}

	#u49647
	{
		z-index: 61;
		width: 100px;
		height: 92px;
		margin-top: 231px;
		left: 128px;
	}

	#u26937
	{
		top: 456px;
		left: 86px;
	}

	#u26937popup
	{
		z-index: 63;
	}

	#u26941-4
	{
		z-index: 64;
	}

	#u46549-4
	{
		z-index: 68;
	}

	#u47537-4
	{
		z-index: 72;
	}

	#u48017-4
	{
		z-index: 76;
	}

	#u48605-4
	{
		z-index: 80;
	}

	#u49653-4
	{
		z-index: 84;
	}

	#u26944-4
	{
		top: 456px;
		left: 498px;
	}

	#u26944-4popup
	{
		z-index: 88;
	}

	#u26958-4
	{
		top: 456px;
		left: 452px;
	}

	#u26958-4popup
	{
		z-index: 92;
	}

	#u26935-4
	{
		top: 456px;
		left: 581px;
	}

	#u26935-4popup
	{
		z-index: 96;
	}

	#u309
	{
		height: 54px;
		position: fixed;
		bottom: 0px;
	}

	#u336-4
	{
		left: -50%;
		margin-left: 289.83333333333337px;
		width: 100%;
		max-width: 579px;
	}

	#u336-4-wrapper
	{
		position: fixed;
		bottom: 12px;
		z-index: 5;
		left: 50%;
		margin-left: -340px;
		width: 48.25%;
		max-width: 579px;
	}

	#u57270
	{
		z-index: 34;
		width: 444px;
		position: relative;
		margin-right: -10000px;
		margin-top: -25px;
		left: 224px;
	}

	#u8112-4_img,#u8407-4_img,#u53161-4_img,#u8785-4_img
	{
		width: 100%;
	}
}

@media (max-width: 900px)
{
	#muse_css_mq
	{
		background-color: #000384;
	}

	#bp_900.active
	{
		display: block;
	}

	#page
	{
		max-width: 900px;
	}

	#u157,#u157-bw
	{
		height: 899px;
	}

	#u227
	{
		min-height: 28px;
		padding-bottom: 18px;
	}

	#u336-4
	{
		z-index: 5;
		margin-right: -10000px;
		margin-top: 10px;
		width: 33.78%;
		left: 8.34%;
	}

	#u227-bw
	{
		min-height: 28px;
		margin-top: 853px;
	}

	#u309,#u309-bw
	{
		height: 48px;
	}

	#slideshowu26934
	{
		z-index: 9;
		height: 239px;
		margin-top: 171px;
		left: 2%;
	}

	#u26947
	{
		width: 687px;
		height: 770px;
		background-color: #565656;
		background-color: rgba(68,68,68,0.9);
		top: -171px;
		left: 123px;
	}

	#u26947popup
	{
		z-index: 10;
	}

	#u26950
	{
		z-index: 11;
		width: 643px;
		height: 726px;
	}

	#u26950_img
	{
		margin: 11px 140px -19px 113px;
	}

	#u46537
	{
		z-index: 13;
		width: 643px;
		height: 726px;
	}

	#u46537_img
	{
		padding: 22px 36px;
	}

	#u47525
	{
		z-index: 15;
		width: 643px;
		height: 726px;
	}

	#u47525_img
	{
		margin: 39px -18px -18px -36px;
	}

	#u48005
	{
		z-index: 17;
		width: 643px;
		height: 726px;
	}

	#u48005_img
	{
		padding: 7px 150px 7px 79px;
	}

	#u48593
	{
		z-index: 19;
		width: 643px;
		height: 726px;
	}

	#u48593_img
	{
		padding: 17px 102px 17px 32px;
	}

	#u49641
	{
		z-index: 21;
		width: 643px;
		height: 726px;
	}

	#u49641_img
	{
		padding: 44px 110px 31px 40px;
	}

	#u26959
	{
		width: 190px;
	}

	#u26959popup
	{
		z-index: 23;
	}

	#u26966
	{
		z-index: 24;
		width: 90px;
		height: 69px;
	}

	#u46543
	{
		z-index: 26;
		width: 90px;
		height: 69px;
		left: 100px;
	}

	#u47531
	{
		z-index: 28;
		width: 90px;
		height: 69px;
		margin-top: 88px;
	}

	#u48011
	{
		z-index: 30;
		width: 90px;
		height: 69px;
		margin-top: 88px;
		left: 100px;
	}

	#u48599
	{
		z-index: 32;
		width: 90px;
		height: 69px;
		margin-top: 170px;
	}

	#u49647
	{
		z-index: 34;
		width: 90px;
		height: 69px;
		margin-top: 170px;
		left: 100px;
	}

	#u26937
	{
		top: 619px;
		left: 145px;
	}

	#u26937popup
	{
		z-index: 36;
	}

	#u26941-4
	{
		z-index: 37;
	}

	#u46549-4
	{
		z-index: 41;
	}

	#u47537-4
	{
		z-index: 45;
	}

	#u48017-4
	{
		z-index: 49;
	}

	#u48605-4
	{
		z-index: 53;
	}

	#u49653-4
	{
		z-index: 57;
	}

	#u26944-4
	{
		top: 619px;
		left: 569px;
	}

	#u26944-4popup
	{
		z-index: 61;
	}

	#u26958-4
	{
		top: 619px;
		left: 523px;
	}

	#u26958-4popup
	{
		z-index: 65;
	}

	#u26935-4
	{
		top: 619px;
		left: 653px;
	}

	#u26935-4popup
	{
		z-index: 69;
	}

	#accordionu37494
	{
		z-index: 73;
		width: 181px;
		position: relative;
		margin-right: -10000px;
		left: 597px;
	}

	#u37499
	{
		z-index: 74;
		width: 181px;
		position: relative;
	}

	#u37500-4
	{
		z-index: 75;
		width: 169px;
		min-height: 26px;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		position: relative;
	}

	#u37500-4:hover
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 26px;
		width: 169px;
		margin: 0px;
	}

	#u37500-4:active
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 26px;
		width: 169px;
		margin: 0px;
	}

	#u37500-4.AccordionPanelTabOpen
	{
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 28px;
		width: 171px;
		margin: 0px;
	}

	#u37501
	{
		z-index: 79;
		width: 181px;
		position: relative;
	}

	#menuu22806
	{
		z-index: 80;
		width: 179px;
		position: relative;
		margin-right: -10000px;
	}

	#u23464
	{
		width: 179px;
		position: relative;
	}

	#u23467
	{
		width: 179px;
		min-height: 18px;
		padding-bottom: 35px;
		position: relative;
		margin-right: -10000px;
	}

	#u23467:hover
	{
		width: 179px;
		min-height: 18px;
		margin: 0px -10000px 0px 0px;
	}

	#u23467:active
	{
		width: 179px;
		min-height: 18px;
		margin: 0px -10000px 0px 0px;
	}

	#u23551
	{
		width: 179px;
		min-height: 18px;
		padding-bottom: 35px;
		position: relative;
		margin-right: -10000px;
	}

	#u23467.MuseMenuActive,#u23551:hover
	{
		width: 179px;
		min-height: 18px;
		margin: 0px -10000px 0px 0px;
	}

	#u23551:active
	{
		width: 179px;
		min-height: 18px;
		margin: 0px -10000px 0px 0px;
	}

	#u53089
	{
		width: 179px;
		min-height: 18px;
		padding-bottom: 35px;
		position: relative;
		margin-right: -10000px;
	}

	#u23551.MuseMenuActive,#u53089:hover
	{
		width: 179px;
		min-height: 18px;
		margin: 0px -10000px 0px 0px;
	}

	#u53089:active
	{
		width: 179px;
		min-height: 18px;
		margin: 0px -10000px 0px 0px;
	}

	#u23548,#u53086,#u23632
	{
		width: 179px;
		margin-top: 2px;
		position: relative;
	}

	#u23633
	{
		width: 179px;
		min-height: 18px;
		padding-bottom: 35px;
		position: relative;
		margin-right: -10000px;
	}

	#u53089.MuseMenuActive,#u23633:hover
	{
		width: 179px;
		min-height: 18px;
		margin: 0px -10000px 0px 0px;
	}

	#u23633:active
	{
		width: 179px;
		min-height: 18px;
		margin: 0px -10000px 0px 0px;
	}

	#u23633.MuseMenuActive
	{
		width: 179px;
		min-height: 18px;
		margin: 0px -10000px 0px 0px;
	}

	#u23470-4_clip,#u23552-4_clip,#u53092-4_clip,#u23634-4_clip
	{
		width: 179px;
		height: 18px;
	}

	#u23470-4,#u23552-4,#u53092-4,#u23634-4
	{
		position: relative;
		margin-right: -10000px;
		top: 17px;
	}

	body
	{
		min-width: 320px;
	}

}

